div#app {
    > .app-header {

        h1.titulo {
            font-size: 28px;
            padding: 10px 10px 15px 10px;
            margin: 0;
            color: $cor-5;
            text-align: center;
            font-weight: 600;
            background: $cor-1;
            border-top: 5px solid lighten($cor-1, 30%);
        }

    }

    > .app-body {
        display: block;
        clear: both;
        padding: 10px;

        > .no-mesa {
            font-size: 18px;
            text-align: center;
            padding: 20px 10px 0;
        }
    }

    > .app-footer {
        width: 100%;
        margin: 20px 0;

        .botao-adicionar-mesa {
            display: block;
            font-size: 12px;
            margin: 0 auto;
        }
    }
}

