body, input {
    font-family: 'Zilla Slab', serif;
}

button {
    cursor: pointer;
    font-family: 'Zilla Slab', serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    background: $cor-1;
    border: 1px solid $cor-1;
    border-radius: 5px;
    color: $cor-5;
    text-transform: uppercase;
    display: block;
    transition: all .8s ease;

    &:hover {
        background: lighten($cor-1, 20%);
        transition: all .8s ease;
    }

    &.botao {
        margin: 10px;
        padding: 10px;
    }
}

input[type=number] {
    width: 20px;
}