@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600');
@import url('http://weloveiconfonts.com/api/?family=fontawesome');

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}