div.mesa {
    border: 1px solid darken($cor-5, 1%);
    margin-bottom: 10px;
    transition: all .8s ease;
    max-width: 500px;
    margin: 0 auto 10px auto;

    > header.mesa-header {
        display: flex;
        flex-direction: row;
        background: lighten($cor-1, 30%);
        color: $cor-5;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;

        > h2.mesa-titulo {
            padding: 5px;
            width: 90%;
        }

        > button.mesa-collapse {
            border-radius: 0;
            width: 10%;
            margin: 0;
            padding: 5px;
            text-align: center;
            border: none;

            &:hover {
                border: none;
            }
        }
    }

    > div.mesa-body {

        > section.numero-pessoas {
            border-bottom: 1px solid darken($cor-5, 10%);

            > div.numero-pessoas-header {
                background: darken($cor-5, 1%);
                display: flex;
                flex-direction: row;

                > h3.numero-pessoas-titulo {
                    padding: 7px 5px;
                    width: 90%;
                    color: darken($cor-5, 50%);
                }

                > div {
                    width: 10%;

                    input[type=number] {
                        width: 80%;
                        border: none;
                        padding: 5px;
                        margin: 0;
                        font-size: 14px;
                        color: darken($cor-5, 50%);
                        background: transparent;
                    }
                }
            }
        }

        > section.pedido {
            border-bottom: 1px solid lighten($cor-3, 10%);

            > div.pedido-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background: lighten($cor-3, 25%);

                > h3.pedido-titulo {
                    color: darken($cor-3, 90%);
                    padding: 7px 5px;
                    width: 90%;
                    font-size: 16px;
                }

                > button.pedido-adicionar {
                    // background: lighten($cor-3, 25%);
                    background: transparent;
                    border-radius: 0;
                    border: none;
                    color: darken($cor-3, 25%);
                    width: 10%;
                    text-align: center;
                    font-size: 18px;
                    
                    &:hover {
                        // background: lighten($cor-3, 10%);
                        color: darken($cor-3, 50%);
                    }
                }
            }

            > div.pedido-body {
                border-top: 1px solid lighten($cor-3, 20%);

                > div.pedido-body-header {
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;
                    
                    > div {
                        background: lighten($cor-3, 28%);
                        color: darken($cor-3, 40%);
                        padding: 5px;
                    }

                    > div:nth-of-type(1) {
                        width: 60%;
                    }

                    > div:nth-of-type(2) {
                        width: 30%;
                    }

                    > div:nth-of-type(3) {
                        width: 10%;
                        padding: 5px 0;
                        text-align: center;
                    }
                }

                > div.pedido-body-item {
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;

                    &:nth-of-type(odd) {
                        background: $cor-5;
                    }

                    > div:nth-of-type(1) {
                        padding: 5px;
                        width: 60%;
                    }

                    > div:nth-of-type(2) {
                        padding: 5px;
                        width: 30%;
                    }

                    > div:nth-of-type(3) {
                        width: 10%;

                        > input[type=number] {
                            border: none;
                            padding: 5px;
                            margin: 0;
                            font-size: 14px;
                            background: transparent;
                        }
                    }
                }

            }

        }

        > section.pagamentos {
            
            > div.pagamentos-header {
                background: lighten($cor-3, 20%);
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                > h3.pagamentos-titulo {
                    padding: 7px 5px;
                    width: 90%;
                    font-size: 16px;
                }

                > button.pagamentos-adicionar {
                    // background: lighten($cor-3, 20%);
                    background: transparent;
                    border-radius: 0;
                    border: none;
                    color: darken($cor-3, 25%);
                    width: 10%;
                    text-align: center;
                    font-size: 18px;
                    
                    &:hover {
                        // background: lighten($cor-3, 5%);
                        color: darken($cor-3, 50%);
                    }
                }

            }

            > div.pagamentos-body {
                border-top: 1px solid lighten($cor-3, 5%);

                > div.pagamentos-item {
                    display: flex;
                    flex-direction: row;

                    > div.pagamentos-item-remover {
                        width: 10%;
                        margin: 0;

                        > button {
                            padding: 5px;
                            background: transparent;
                            border: none;
                            border-radius: 0;
                            color: lighten($cor-2, 10%);
                            font-size: 18px;

                            &:hover {
                                // background: $cor-2;
                                color: darken($cor-2, 20%);
                            }
                        }
                    }

                    > div.pagamentos-item-valor {
                        width: 90%;
                        text-align: right;
                        padding: 5px;

                        span {
                            font-size: 15px;
                            color: darken($cor-5, 50%);
                        }
                    }

                    &:nth-of-type(even) {
                        background: darken($cor-5, 1%);
                        border-top: 1px solid $cor-5;
                    }
                }
            }
        }

        > section.total {
            border-top: 1px solid lighten($cor-1, 50%);

            > div.total-header {
                background: lighten($cor-1, 60%);
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid lighten($cor-1, 50%);

                > h3.total-titulo {
                    color: $cor-1;
                    padding: 7px 5px;
                    font-weight: 500;
                    width: 70%;
                    text-align: right;
                }

                > div.total-valor {
                    width: 30%;
                    color: $cor-1;
                    font-weight: 500;
                    padding: 7px 5px;
                    text-align: right;
                }

            }

            > div.total-body {
                display: flex;
                flex-direction: row;

                > div {
                    padding: 7px 5px;
                    text-align: right;
                    font-size: 14px;

                    &:nth-of-type(1) {
                        width: 70%;
                    }

                    &:nth-of-type(2) {
                        width: 30%;
                    }
                }

                &.cobrar-servico {
                    background: darken($cor-5, 1%);
                    color: darken($cor-5, 50%);
                    border-bottom: 1px solid darken($cor-5, 5%);

                    > div:nth-of-type(1) {
                        text-align: right;

                        > button {
                            display: table-cell;
                            background: transparent;
                            color: darken($cor-5, 50%);
                            border: none;
                            font-size: 14px;
                            padding: 0;
                            margin: 0;
                        }
                    }

                    > div:nth-of-type(2) {

                    }
                }

                &.total-servico {
                    background: darken($cor-5, 1%);
                    color: darken($cor-1, 20%);
                    border-bottom: 1px solid darken($cor-5, 5%);
                    font-weight: 600;
                }    

                &.total-porpessoa {
                    background: darken($cor-5, 1%);
                    color: darken($cor-5, 50%);
                    border-bottom: 1px solid darken($cor-5, 5%);
                }

                &.total-pago {
                    background: lighten($cor-4, 55%);
                    color: darken($cor-4, 10%);
                    border-bottom: 1px solid lighten($cor-4, 45%);
                }

                &.subtotal {
                    border-bottom: 1px solid lighten($cor-1, 60%);
                    background: lighten($cor-1, 65%);
                    color: darken($cor-1, 20%);
                    font-weight: 500;
                }

            }

        }

    }

    > footer.mesa-footer {
        background: $cor-5;
        border-bottom: 2px solid darken($cor-5, 20%);
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;

        button.remover-mesa {
            background: lighten($cor-2, 30%);
            border-color: lighten($cor-2, 10%);
            color: $cor-2;
            padding: 5px;
            margin: 5px;

            &:hover {
                background: $cor-2;
                color: $cor-5;
            }
        }

        button.fechar-conta {
            background: lighten($cor-4, 50%);
            border-color: darken($cor-4, 10%);
            color: $cor-4;
            margin: 5px;
            padding: 5px;
            
            &:hover {
                background: $cor-4;
                color: $cor-5;
            }
        }
    }

    &.conta-fechada {

        > header.mesa-header {
            background: darken($cor-5, 10%);

            > h2.mesa-titulo {
                text-decoration: line-through;
                color: darken($cor-5, 30%);
            }
            
        }
    }
}