div.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    
    > div.modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        > div.modal-container {
          display: table;
          width: 90%;
          max-width: 500px;
          margin: 0px auto;
          padding: 10px;
          background-color: #fff;
          border-radius: 2px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          > div.modal-header {
              
              > h4 {
                  padding: 5px 0;
                  color: $cor-1;
                  border-bottom: 1px solid lighten($cor-1, 60%);
              }

          }

          > div.modal-body {

          }

          > div.modal-footer {

          }

        }
    }
}