div.modal-mask {

    > div.modal-wrapper {

        > div.modal-container.modal-pagamentos {

            > div.modal-header {

            }

            > div.modal-body {
                display: flex;
                flex-direction: row;
                padding: 20px 0 10px 0;

                > label {
                    width: 60%;
                    font-size: 14px;
                    padding-top: 10px;
                }

                > input[type=number] {
                    width: 40%;
                    font-size: 14px;
                    padding: 5px;
                }

            }

            > div.modal-footer {
                height: 10%;

                > div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    > button {
                        margin: 15px 0 10px 0;
                        padding: 5px;

                        &.cancelar-pagamento {
                            background: lighten($cor-2, 30%);
                            border-color: lighten($cor-2, 10%);
                            color: $cor-2;

                            &:hover {
                                background: $cor-2;
                                color: $cor-5;
                            }

                        }

                        &.confirmar-pagamento {
                            background: lighten($cor-4, 50%);
                            border-color: darken($cor-4, 10%);
                            color: $cor-4;
                            
                            &:hover {
                                background: $cor-4;
                                color: $cor-5;
                            }

                        }
                    }

                }
            }
        }

    }

}