div.modal-mask {

    > div.modal-wrapper {

        > div.modal-container.modal-produtos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            > div.modal-header {
                height: 10%;
            }

            > div.modal-body {
                overflow-y: scroll;
                overflow-x: hidden;
                display: block;
                height: 350px;

                > div.loading {
                    text-align: center;
                    padding: 10px;
                }

                > section.produtos {
                    width: 100%;

                    > div.produtos-filtro {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        margin: 5px 0;

                        > button {
                            min-width: 30%;
                            margin: 3px;
                            padding: 5px 7px;
                            font-weight: 600;
                            background: lighten($cor-3, 10%);
                            color: darken($cor-3, 40%);
                            border-color: darken($cor-3, 40%);

                            &:hover {
                                background: lighten($cor-3, 25%);
                            }

                            &.active {
                                background: darken($cor-3, 35%);
                                color: $cor-5;
                            }
                        }

                    }

                    > div.produtos-header {
                        padding: 5px;
                        background: lighten($cor-1, 65%);
                        color: $cor-1;
                        font-weight: 500;
                        font-size: 15px;
                        display: flex;
                        flex-direction: row;

                        > div {
                            &:nth-of-type(1) {
                                width: 60%
                            }

                            &:nth-of-type(2) {
                                width: 25%;
                            }

                            &:nth-of-type(3) {
                                width: 10%;
                                text-align: center;
                            }
                        }
                    }

                    > div.produtos-item {
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        font-weight: 300;
                        font-size: 15px;

                        > div {

                            &:nth-of-type(1) {
                                width: 60%;
                            }

                            &:nth-of-type(2) {
                                width: 25%;
                            }

                            &:nth-of-type(3) {
                                width: 10%;

                                > button {
                                    // background: lighten($cor-1, 50%);
                                    background: transparent;
                                    border: none;
                                    color: lighten($cor-1, 20%);
                                    text-align: center;
                                    font-size: 18px;

                                    &:hover {
                                        // background: lighten($cor-1, 30%);
                                        color: darken($cor-1, 20%);
                                    }
                                }
                            }

                        }

                        &:nth-of-type(even) {
                            background: $cor-5;
                        }
                    }

                }

                > section.pedido {
                    padding-top: 10px;
                    margin-top: 20px;
                    border-top: 1px dotted darken($cor-5, 10%);

                    > h4 {
                        padding: 5px 0;
                        color: $cor-1;
                        border-bottom: 1px solid lighten($cor-1, 60%);
                        margin-bottom: 10px;
                    }

                    > div.pedido-header {
                        padding: 5px;
                        background: lighten($cor-1, 65%);
                        color: $cor-1;
                        font-weight: 500;
                        font-size: 15px;
                        display: flex;
                        flex-direction: row;
                        
                        > div {
                            &:nth-of-type(1) {
                                width: 70%;
                            }

                            &:nth-of-type(2) {
                                width: 30%;
                            }
                        }
                    }

                    > div.pedido-item {
                        padding: 5px;
                        font-size: 14px;
                        display: flex;
                        flex-direction: row;

                        > div {
                            &:nth-of-type(1) {
                                width: 70%;
                            }

                            &:nth-of-type(2) {
                                text-align: right;
                                width: 30%;

                                > input[type=number] {
                                    border: none;
                                    font-size: 14px;
                                    margin: 0;
                                    background: transparent;
                                }
                            }
                        }

                        &:nth-of-type(odd) {
                            background: $cor-5;
                        }
                    }
                }

            }

            > div.modal-footer {
                height: 10%;

                > div.produtos-footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    > button {
                        margin: 15px 0 10px 0;
                        padding: 5px;

                        &.cancelar-pedido {
                            background: lighten($cor-2, 30%);
                            border-color: lighten($cor-2, 10%);
                            color: $cor-2;

                            &:hover {
                                background: $cor-2;
                                color: $cor-5;
                            }

                        }

                        &.confirmar-pedido {
                            background: lighten($cor-4, 50%);
                            border-color: darken($cor-4, 10%);
                            color: $cor-4;
                            
                            &:hover {
                                background: $cor-4;
                                color: $cor-5;
                            }

                        }
                    }

                }

            }

        }

    }

}