<template>
    <div class="mesa" :class="{ 'conta-fechada' : fecharConta }">
        <header class="mesa-header">
            <h2 class="mesa-titulo" v-once>Mesa #{{ mesaIndex+1 }}</h2>
            <button class="botao mesa-collapse" @click="showMesaBody = !showMesaBody" v-if="!fecharConta">
                <i class="fontawesome-caret-down" v-if="!showMesaBody"></i>
                <i class="fontawesome-caret-up" v-if="showMesaBody"></i>
            </button>
        </header>
        
        <div class="mesa-body" v-if="showMesaBody">
            <section class="numero-pessoas">
                <div class="numero-pessoas-header">
                    <h3 class="numero-pessoas-titulo">Número de pessoas</h3>
                    <div>
                        <input type="number" v-model="numeroPessoas" min="1" @change="updateNumeroPessoas" step="1" pattern="[0-9]" v-numero>
                    </div>
                </div>
            </section>

            <section class="pedido">
                <div class="pedido-header">
                    <h3 class="pedido-titulo">Pedido</h3>
                    <button class="pedido-adicionar" @click="showModalAdicionarProduto = true"><i class="fontawesome-plus-sign"></i></button>
                </div>

                <div class="pedido-body" v-if="pedido.length">
                    <div class="pedido-body-header">
                        <div>Produto</div>
                        <div>Preço</div>
                        <div>#</div>
                    </div>

                    <div class="pedido-body-item" v-for="produto in pedido">
                        <div>{{ produto.nome }}</div>
                        <div>{{ produto.valor | reais }}</div>
                        <div><input type="number" v-model="produto.quantidade" :change="commitChange(produto.id, produto.quantidade)"></div>
                    </div>
                </div>
            </section>

            <section class="pagamentos">
                <div class="pagamentos-header">
                    <h3 class="pagamentos-titulo">Pagamentos</h3>
                    <button class="pagamentos-adicionar" @click="showModalAdicionarPagamento = true" v-if="pedido.length"><i class="fontawesome-plus-sign"></i></button>
                </div>

                <div class="pagamentos-body" v-if="pagamentos.length">
                    <div class="pagamentos-item" v-for="pagamento in pagamentos">
                        <div class="pagamentos-item-remover">
                            <button @click="removerPagamento(pagamento)">
                                <i class="fontawesome-remove-sign"></i>
                            </button>
                        </div>

                        <div class="pagamentos-item-valor">
                            <span>{{ pagamento | reais }}</span>
                        </div>
                    </div>
                    
                </div>
            </section>

            <section class="total" v-if="total > 0">
                <div class="total-header">
                    <h3 class="total-titulo">Total</h3>
                    <div class="total-valor">{{ total | reais }}</div>
                </div>

                <div class="total-body cobrar-servico">
                    <div>
                        <button class="botao-cobrar-servico" @click="cobrarServico = !cobrarServico">
                            <i class="fontawesome-check" v-if="cobrarServico"></i>
                            <i class="fontawesome-check-empty" v-if="!cobrarServico"></i>
                        </button>
                        Cobrar serviço?
                    </div>
                    
                    <div>{{ servico | reais }}</div>
                </div>

                <div class="total-body total-servico" v-if="cobrarServico">
                    <div>Total + Serviço</div>
                    <div v-if="cobrarServico">{{ total + servico | reais }}</div>
                    <div v-else>{{ total | reais }}</div>
                </div>

                <div class="total-body total-porpessoa">
                    <div>Valor por pessoa</div>
                    <div v-if="cobrarServico">{{ (total + servico) / numeroPessoas | reais }}</div>
                    <div v-else>{{ total / numeroPessoas | reais }}</div>
                </div>

                <div class="total-body total-pago" v-if="pagamentos.length">
                    <div>Valor pago</div>
                    <div>{{ totalPago | reais }}</div>
                </div>

                <div class="total-body subtotal" v-if="pagamentos.length">
                    <div v-if="totalServico && ((total + servico - totalPago) > 0)">Valor restante</div>
                    <div v-if="(totalServico == false) && ((total - totalPago) > 0)"></div>
                    <div v-else>Troco</div>
                    <div v-if="cobrarServico">{{ Math.abs( total+servico - totalPago ) | reais }}</div>
                    <div v-else>{{ Math.abs(total - totalPago) | reais }}</div>
                </div>
            </section>
        </div>

        <footer class="mesa-footer" v-if="showMesaBody">
            <button class="remover-mesa" @click="removerMesa(mesaIndex)">
                <i class="fontawesome-remove"></i> Remover Mesa
            </button>

            <button class="fechar-conta" @click="showMesaBody=false; fecharConta = true">
                <i class="fontawesome-ok"></i> Fechar Conta
            </button>
        </footer>

        <ModalAdicionarProduto :mesa-index="mesaIndex" v-if="showModalAdicionarProduto" @close="showModalAdicionarProduto = false" />
        <ModalAdicionarPagamento :mesa-index="mesaIndex" v-if="showModalAdicionarPagamento" @close="showModalAdicionarPagamento = false" />
    </div>
</template>

<script>
import numero from '@/directives/numero';
import store from '@/store/index';
import ModalAdicionarProduto from '@/components/ModalAdicionarProduto';
import ModalAdicionarPagamento from '@/components/ModalAdicionarPagamento';

export default {

    components: {
        ModalAdicionarProduto,
        ModalAdicionarPagamento
    },

    props: ['mesaIndex'],

    data() {
        return {
            mesaId: this.mesaIndex,
            showModalAdicionarProduto: false,
            showModalAdicionarPagamento: false,
            showMesaBody: false,
            numeroPessoas: 1,
            subtotal: null,
            fecharConta: false,
            cobrarServico: true,
            servico: 0
        }
    },

    methods: {
        removerMesa(index) {
            store.dispatch('removeMesa', index);
        },

        commitChange(produtoId, quantidade) {
            if (quantidade == 0){
                store.dispatch('removeProdutoPedido', {'mesaId': this.mesaId, 'produtoId': produtoId});
            } else {
                store.dispatch('updateProdutoPedido', {'mesaId': this.mesaId, 'produtoId': produtoId, 'quantidade': quantidade});
            }
        },

        updateNumeroPessoas() {
            store.dispatch('updateNumeroPessoas', {'mesaId': this.mesaId, 'numeroPessoas': this.numeroPessoas});
        },

        removerPagamento(pagamento) {
            store.dispatch('removePagamento', {'mesaId': this.mesaId, 'pagamento': pagamento});
        }
    },

    computed: {
        pedido() {
            return store.getters.getPedido(this.mesaId);
        },

        pagamentos() {
            return store.getters.getPagamentos(this.mesaId);
        },

        total() {
            return store.getters.getTotal(this.mesaId);
        },

        totalPago() {
            return store.getters.getTotalPago(this.mesaId);
        }
    },

    watch: {
        pedido: {
            handler: function(produto) {
                let total = 0;

                produto.forEach( (item, index, array) => {
                    total += parseFloat(item.valor) * parseInt(item.quantidade);
                });

                this.servico = this.total * 0.1;
            },
            deep: true
        },

        pagamentos: {
            handler: function(pagamento) {
                let totalpago = 0;

                pagamento.forEach( item => {
                    totalpago += item;
                });

                this.totalpago = totalpago;
            },
            deep: true
        }
    },
    directives: {
        numero
    }
};
</script>

<style scope />