<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container modal-pagamentos">
                <div class="modal-header">
                    <h4>Pagamentos</h4>
                </div>

                <div class="modal-body">
                    <label for="pagamento-valor">Valor do pagamento</label>
                    <input type="number" id="pagamento-valor" v-model="valor" pattern="[0-9]" min="0" v-numero>
                </div>

                <div class="modal-footer">
                    <div>
                        <button class="cancelar-pagamento" @click="$emit('close')">Cancelar</button>
                        <button class="confirmar-pagamento" @click="adicionarPagamento">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import store from '@/store/index';
import numero from '@/directives/numero';

export default {

    props: ['mesaIndex'],

    data () {
        return {
            valor: parseFloat(0.00),
            mesaId: this.mesaIndex
        }
    },

    methods: {
        adicionarPagamento() {
            if (this.valor > 0) {
                store.dispatch('addPagamento', {'mesaId': this.mesaIndex, 'valor': parseFloat(this.valor)});
                this.$emit('close');
            }
        }
    },

    directives: {
        numero
    }

};
</script>

<style scope>
</style>