<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container modal-produtos">
                <div class="modal-header">
                    <h4>Produtos</h4>
                </div>

                <div class="modal-body">
                    <div class="loading" v-if="loading">
                        Carregando...   
                    </div>

                    <section class="produtos" v-else-if="produtos.length">
                        <div class="produtos-filtro">
                            <button @click="filtro = 'todos'" :class="{ active: filtro == 'todos'}">Todos</button>
                            <button @click="filtro = 'entrada'" :class="{ active: filtro == 'entrada'}">Entradas</button>
                            <button @click="filtro = 'prato'" :class="{ active: filtro == 'prato'}">Principais</button>
                            <button @click="filtro = 'bebida'" :class="{ active: filtro == 'bebida'}">Bebidas</button>
                            <button @click="filtro = 'sobremesa'" :class="{ active: filtro == 'sobremesa'}">Sobremesas</button>
                        </div>
                        <div class="produtos-header">
                            <div>Nome</div>
                            <div>Preço</div>
                            <div></div>
                        </div>
                        <div class="produtos-item" v-for="produto in produtos">
                            <div>{{ produto.nome }}</div>
                            <div>{{ produto.valor | reais }}</div>
                            <div><button @click="adicionarProdutoPedido(produto)"><i class="fontawesome-plus-sign"></i></button></div>
                        </div>
                    </section>

                    <section class="pedido" v-if="pedido.length">
                        <h4>Pedido</h4>
                        <div class="pedido-header">
                            <div>Produto</div>
                            <div>Quantidade</div>
                        </div>

                        <div class="pedido-item" v-for="produto in pedido">
                            <div>{{ produto.nome }}</div>
                            <div><input type="number" v-model="produto.quantidade" step="1" pattern="[0-9]" min="1" v-numero></div>
                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <div class="produtos-footer">
                        <button class="cancelar-pedido" @click="$emit('close')">Cancelar</button>
                        <button class="confirmar-pedido" @click="adicionarPedido">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import store from '@/store/index';
import numero from '@/directives/numero';

export default {

    props: ['mesaIndex'],

    data () {
        return {
            loading: false,
            filtro: 'todos',
            pedido: [],
            mesaId: this.mesaIndex
        }
    },

    created() {
        this.loading = true;
        store.dispatch('fetchProdutos').then( () => this.loading = false );
    },

    computed: {
        produtos() {
            return store.getters.getProdutos(this.filtro);
        }
    },

    methods: {
        adicionarProdutoPedido(produto) {
            const produtoPedido = this.pedido.find( item => item.id === produto.id );

            if (!produtoPedido) {
                this.pedido.push({...produto, 'quantidade': 1, 'mesaId': this.mesaId});
            } else {
                produtoPedido.quantidade++;
            }
            
        },

        adicionarPedido () {
            store.dispatch('addProdutosAoPedido', {'mesaId': this.mesaId, 'produtos': this.pedido});
            this.$emit('close');
        }
    },

    watch: {
        pedido: {
            handler: function(produto) {
                produto.forEach( (item, index, array) => {
                    if (item.quantidade == 0) {
                        array.splice(index, 1);
                    }
                });

                let modalBody = document.getElementsByClassName('modal-body');
                modalBody[0].scrollTop = modalBody[0].offsetHeight;
            },
            deep: true
        }
    },

    directives: {
        numero
    }

};
</script>

<style scope />