<template>
    <div id="app">
        <header class="app-header">
            <h1 class="titulo">Controle de Mesas</h1>
          </header>

        <div class="app-body" v-if="mesas.length">
              <Mesa v-for="(mesa, index) in mesas" :mesa-index="index" :key="index" />
        </div>

        <div class="app-body" v-else>
          <p class="no-mesa">Nenhuma mesa cadastrada.</p>
        </div>

        <footer class="app-footer">
            <button @click="adicionarMesa" class="botao botao-adicionar-mesa">Adicionar Mesa</button>
        </footer>
    </div>
</template>

<script>
import '@/filters/moedaReais';
import numero from '@/directives/numero';
import store from '@/store/index';
import Mesa from '@/components/Mesa.vue';

export default {
    name: 'app',
    components: {
        Mesa
    },
    methods: {
        adicionarMesa() {
            store.dispatch('addMesa');
        }
    },
    computed: {
        mesas() {
            return store.state.mesas;
        }
    },
    directives: {
        numero
    }
};
</script>

<style>
@import 'assets/css/style.css';
</style>
